$font-family-sans-serif: "Rubik", arial, sans-serif;
$font-family-serif: "Playfair Display", times, serif;

.owl-prev,
.owl-next {
  background-color: #333;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.owl-prev:hover,
.owl-next:hover {
  background-color: #fff;
  color: #333;
}

.flex {
  display: flex;
  align-items: center;
}

.w-full {
  min-width: 100vw;
}

.h-full {
  min-height: 100vh;
}

.overflow-hidden {
  overflow: hidden;
}

.bg-darken {
  background-color: #00000088;
}

.hero-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 5vw;
  color: #fff;
  text-shadow: 0 0 4px #000;
  font-family: "Playfair Display", times, serif;
}

.z-99 {
  z-index: 2;
}

.owl-carousel .owl-item img {
  width: auto;
}
